.events-list {
  border-collapse: separate;
  padding: 24px 20px;
  width: 100%;

  thead {
    position: sticky;
    top: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  th{
    padding: 15px 10px;
    background-color: rgb(24, 31, 59);
    border-bottom: 2px solid #fff;
    text-align: left;
  }

  tbody {

    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;

      tr {
        display: block;
        border: 1px solid #555;
        border-radius: 10px;
        width: 280px;
      }
    }
    
  }

  td{
    padding: 10;
    width: 20%;
    padding:20px 10px;
    font-weight: 500;

    a{

      &.name {
        text-transform: capitalize;
        text-underline-offset: 4px;
        color: #fff;
      }
    }

    &[data-th] {

      @media screen and (max-width: 768px) {
        display: block;


        &:before{
          content: attr(data-th)"\003A\00A0";
          font-weight: 600;

        }
      }
      
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}
