.repo-list {
  margin-block-start: 3.5em;

  .title {
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-block-start: 1.5rem;
  }

  li {
    padding-block: 1.5rem;
    padding-inline: 1rem;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 .2em 1em hsla(20, 20%, 20%, 10%);

    .name {

      a {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: #222;

        &:hover,
        &:focus {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }

    .desc{
      font-weight: 500;
      margin-block-start: 0.5rem;
      padding-block-end: 1rem;
    }

    .category {
      margin-block: 1rem;

      span {
        padding: 4px 10px;
        background-color: rgb(41, 106, 41);
        color: #fff;
        font-size: 80%;
        font-weight: 500;
        letter-spacing: 0.5px;
        border-radius: 20px;
        text-shadow: 0 0 10px rgba(0 0 0 / 10%);
      }
    }

    .date {
      font-size: 80%;
      color: #555;
      font-weight: 300;
      margin-top: 5px;
      display: block;
    }

    @media screen and (max-width: 1280px) {
      
      .name {
        a {
          font-size: 1rem;
        }
      }
    }

    @media screen and (max-width: 1280px) {
      width: 40%;
    }

    @media screen and (max-width: 680px) {
      width: 80%;
    }
  }
}